################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Battleships/.vs/Battleships
/Battleships/obj
/Battleships/bin/Debug/net8.0/Battleships.pdb
/Battleships/bin/Debug/net8.0/Battleships.exe
/Battleships/bin/Debug/net8.0/Battleships.dll
/Battleships/.vs/ProjectEvaluation/battleships.strings.v9.bin
/Battleships/.vs/ProjectEvaluation/battleships.projects.v9.bin
/Battleships/.vs/ProjectEvaluation/battleships.metadata.v9.bin
/BattleshipsTests/bin/Debug/net8.0/Battleships.dll
/BattleshipsTests/bin/Debug/net8.0/Battleships.exe
/BattleshipsTests/bin/Debug/net8.0/Battleships.pdb
/BattleshipsTests/bin/Debug/net8.0/BattleshipsTests.pdb
/BattleshipsTests/bin/Debug/net8.0/BattleshipsTests.dll
/BattleshipsTests/obj/Debug/net8.0/ref/BattleshipsTests.dll
/BattleshipsTests/obj/Debug/net8.0/refint/BattleshipsTests.dll
/BattleshipsTests/obj/Debug/net8.0/BattleshipsTests.dll
/BattleshipsTests/obj/Debug/net8.0/BattleshipsTests.AssemblyInfo.cs
/BattleshipsTests/obj/Debug/net8.0/BattleshipsTests.AssemblyInfoInputs.cache
/BattleshipsTests/obj/Debug/net8.0/BattleshipsTests.csproj.AssemblyReference.cache
/BattleshipsTests/obj/Debug/net8.0/BattleshipsTests.pdb
/BattleshipsTests/obj/Debug/net8.0/BattleshipsTests.sourcelink.json
